*.nodata
nodata
*.log
*.trs

3to2
bswap
add
align
allocai
allocar
alu_add
alu_and
alu_com
alu_div
alu_lsh
alu_mul
alu_neg
alu_or
alu_rem
alu_rsb
alu_rsh
alu_sub
alu_xor
alux_add
alux_sub
bp
branch
call
carg
carry
catomic
ccall
clobber
ctramp
cva_list
cvt
divi
fib
float
fop_abs
fop_sqrt
hton
jmpr
ldsti
ldstr
ldstr-c
ldstxi
ldstxi-c
ldstxr
ldstxr-c
lightning
live
movzr
put
qalu_div
qalu_mul
range
ranger
ret
rpn
self
setcode
stack
tramp
va_list
varargs
