/build-aux
+*

*.o
*.lo
*.la

.libs/
.deps/
*/.libs/
*/.deps/

autom4te.cache
aclocal.m4
depcomp
INSTALL
Makefile
Makefile.in
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
libtool
lightning-*.tar.*
ltmain.sh
missing
size
stamp-h1
test-driver

m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4

lightning.pc
include/lightning.h

build-aux/
