[Desktop Entry]
Version=1.0
Name=m64p
GenericName=m64p
Type=Application
Comment=N64 Emulator
Icon=${SNAP}/meta/gui/m64p.png
Terminal=false
StartupNotify=false
Keywords=n64;emulator;
Categories=Game;Emulator;
Exec=m64p
